<div class="stats-box">
  <div class="div-select-options">
    <select ng-change="vm.optionSelection()" ng-model="vm.optionSelected">
          <option value="" disabled>Select an option</option>
          <option value="products" selected>Total Products</option>
          <option value="users">Total Users</option>
          <option value="categories">Total Categories</option>
        </select>
    <div ng-switch on="vm.optionSelected">
      <div class="description-stats" ng-switch-when="products">
        <form action="">
          <div class="select-options">
            <label ng-repeat="option in vm.productOptions">
                {{option.name}}
                  <input type="radio" ng-model="vm.checked" ng-value="option.value">
                </label>
          </div>

        </form>
        <a href="" class="custom-btn" ng-click="vm.getInfo('products')">Search</a>
      </div>
      <div class="description-stats" ng-switch-when="users">
        <form action="">
          <div class="select-options">
            <label ng-repeat="option in vm.userOptions">
                {{option.name}}
                  <input type="radio" ng-model="vm.checked" ng-value="option.value">
            </label>
          </div>
        </form>
        <a href="" class="custom-btn" ng-click="vm.getInfo('users')">Search</a>
      </div>
      <div class="description-stats" ng-switch-when="categories">
        <form action="">
          <div class="select-options">
            <label ng-repeat="option in vm.categoriesOptions">
                {{option.name}}
                  <input type="radio" ng-model="vm.checked" ng-value="option.value">
                </label>
          </div>
        </form>
        <a href="" class="custom-btn" ng-click="vm.getInfo('categories')">Search</a>
      </div>
    </div>
  </div>
</div>