footer#footer
  p © 2017 Sell It. Todos los derechos reservados.
  p
    | coded with 
    i.fa.fa-heart(aria-hidden='true')
    |  by 
    a(href='https://github.com/devtoni/', target='_blank') Toni Ruiz
  p 
    a(href='/admin/login') Admin Login
