$bg-body-color: #F5F5F5;
$first-bg-color: #263238;
$second-bg-color: #37474F;
$third-bg-color: #00B9D8;
$bg-logo-span: #F58454;
$border-line: lightyellow;
$main-font-color: #4B4C63;
$nav-color: #4C4C4C;
$secondary-color: #20C3B3;
$lime-color: #ACEC00;