  .canvas-box {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-select-description {
      display: flex;
    }
  }
  .chart-box {
    padding: 1rem;
    max-width: 600px;
    width: 600px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
