@import "../base/_colors";
.card-form {
  width: 90%;
  margin: 0 auto;
  max-width: 450px;
  padding: 1rem;
  background-color: #fff;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  a {
    color: $nav-color !important;
    font-weight: bold;
  }
}

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  .card-gallery {
    position: relative;
    width: 90%;
    max-width: 250px;
    margin: 0.3rem;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    &>a>img {
      min-height: 150px;
    }
    .card-body {
      padding: 0.5rem;
      .title-place {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        p:first-child {
          font-weight: bold;
          font-size: 1em;
          color: black;
        }
      }
      p {
        font-size: 1.2rem;
        margin: 0;
        text-align: left;
      }
      &>p:nth-child(2) {
        color: $bg-logo-span;
        letter-spacing: -2px;
      }
      p.card-text {
        white-space: nowrap;
        max-width: 20em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .user-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: $border-line;
        .user-info {
          flex: 1;
          margin-left: 10px;
          color: black;
          &>p {
            letter-spacing: 0px;
            color: inherit;
          }
        }
        img {
          width: 40px;
          border-radius: 50%;
        }
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}

p.city {
  text-align: right !important;
  color: lightslategray;
  font-size: 0.8rem !important;
  letter-spacing: 0;
  font-weight: bold;
}

.input-div {
  display: none;
}

#btnEdit,
#btnEditOk,
#btnDeleteArticle {
  cursor: pointer;
  position: absolute;
  background: $bg-logo-span;
  border: none;
}

#btnEdit {
  background: none;
  display: block;
  top: 70%;
  left: 72%;
}

#btnEditOk {
  display: none;
  top: 2% !important;
  left: 72%;
}

#btnDeleteArticle {
  display: none;
  top: 2% !important;
  left: 38%;
}

#btnEditOk:hover,
#btnDeleteArticle:hover {
  color: white;
  background: $nav-color;
}

.position-input-toggle {
  top: 52% !important;
}

.card-body {
  input {
    width: 100%;
  }
}

div.card-img-top {
  height: 200px;
  /* width: 100%; */
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

