@import "../base/_colors";

footer {
  background-color: $first-bg-color;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 0.5rem;
  color: $bg-body-color;
  p:last-child {
    text-align: right;
    cursor: pointer;
  }
  p {
    color:  $bg-body-color;
    & a {
      color: $bg-body-color !important;
    }
  }
}


.footer-position {
  position: absolute;
}