@import "../base/_colors";

footer {
  background-color: $nav-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  padding: 1rem 0;
  color: $bg-body-color;
}

.login, .register {
  footer {
    position: absolute;
  }
}