@import "../base/_colors";

footer {
  background-color: $first-bg-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  padding: 1rem 0;
  color: $bg-body-color;
  position: absolute;
}


.footer-position {
  position: absolute;
}