/* inputs index */

@import "../base/_colors";



.custom-btn.sell,
.custom-btn.buy {
  display: none;
}

.search-icon-hero-image {
  display: none;
}

input.search-hero-text {
  display: none;
}

.search-icon-nav {
  width: 100%;
}

#search-icon-navbar {
  font-size: 1.5rem;
  color: black;
  margin-right: 1rem;
}

form#mobile-search-form {
  text-align: center;
}

.search-bar-nav-mobile {
  display: none;
  background: transparent;
  /* border: none; */
  /* outline: none; */
  /* background-size: 33px; */
  /* background-position: 2px; */
  border-radius: 50px;
  width: 75%;
  height: 45px;
  padding: 20px;
}

select {
  padding: 0.5rem;
}

.search-products {
  outline: none;
  /* background-size: 22px; */
  /* background-position: 13px; */
  width: 100%;
  color: #000;
  /* border: none; */
  padding: 0.5rem;
}

.search-products::-webkit-input-placeholder {
  color: #000;
}




.btn-edit {
  display: none;
}

input[type=submit],
.custom-btn {
  background-color: $bg-logo-span;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
}

.btn-add {
  z-index: 5;
  background: #20C3B3;
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  right: 15px;
  box-shadow: 0px 2px 5px grey;
  a > i {
    font-size: 1.2rem;
  }
}


@media(min-width: 768px) {
  .btn-add{
    display: none;
  }
  .custom-btn.sell,
  .custom-btn.buy {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.4rem 2rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 1px black;
   
  }
  .btn-edit {
    display: inline-block;
    position: absolute;
    right: 25px;
    border-radius: 50%;
    background-color: $bg-logo-span;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 3px grey;
  }
  .search-icon-hero-image {
    margin-top: 2rem;
    display: inherit;
  }
  .search-icon-nav {
    display: none;
  }
  input.search-hero-text {
    margin: 0 auto;
    display: block;
    background-image: none;
    font-size: 1.2rem;
    min-width: 250px;
    padding: 1rem !important;
    height: 37px;
    border-radius: 0;
    background-color: white;
    &::placeholder {
      color: black;
    }
  }
}