@import "../base/_colors";


nav {
  background: $nav-color;
  z-index: 1;
  &.navbar {
    padding: 0 0.5rem;
  }
}


.menu-btn {
  border: none;
}

.nav-desktop {
  width: 100%;
  p {
    margin: 0 1rem;
  }
}


