html, body {
  min-height: 100%;
  height: 100%;
  background-color: #F5F5F5; }

p {
  margin: 0; }

.fa.fa-heart {
  color: red; }

.btn {
  outline: none !important; }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

img {
  width: 100%; }

body {
  font-family: 'Helvetica-bold', sans-serif; }

a, span {
  color: white !important;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.divider-new {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px; }

/* components */
nav {
  background: #263238;
  z-index: 1;
  font-weight: bold; }
  nav.navbar {
    padding: 0 0.5rem; }
  nav button {
    color: #fff; }
  nav a.nav-link:hover {
    background-color: #F58454; }

.container-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .container-nav > * {
    width: 33%; }
  .container-nav > button {
    text-align: left; }

div.div {
  text-align: right; }
  div.div .filter-btn {
    background-color: transparent;
    border: none; }

.profile-photo-navbar > img {
  border-radius: 50%;
  width: 40px; }

.menu-btn {
  border: none; }

.nav-desktop {
  width: 100%; }
  .nav-desktop p {
    margin: 0 1rem; }

@media (min-width: 768px) {
  .container-nav {
    width: auto; } }

.logo {
  color: #F5F5F5; }
  .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center; }
  .logo span.market-logo {
    width: 35px;
    display: inline-block;
    background-color: #F58454;
    padding: 0.2rem; }
  .logo span.market-logo > h1 {
    white-space: normal;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    font-size: 0.7rem; }
  .logo p {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.5rem; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  background: #263238;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #F5F5F5; }

.sidebar-nav li a:hover {
  text-decoration: none;
  background: #F58454; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #4B4C63; }

.sidebar-nav > .sidebar-brand a:hover {
  background: none; }

.profile-side-bar {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  border-bottom: 1px solid lightyellow; }
  .profile-side-bar img {
    border-radius: 50%;
    width: 50px; }
  .profile-side-bar .action-profile p {
    margin: 0; }
    .profile-side-bar .action-profile p a {
      display: inline; }

.user-info {
  flex: 1;
  margin-left: 10px;
  color: black; }

.card-form {
  width: 90%;
  margin: 0 auto;
  max-width: 450px;
  padding: 1rem;
  background-color: #fff;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
  .card-form a {
    color: #4C4C4C !important;
    font-weight: bold; }

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }
  .gallery .card-gallery {
    position: relative;
    width: 90%;
    max-width: 250px;
    margin: 0.3rem;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    .gallery .card-gallery > a > img {
      min-height: 150px; }
    .gallery .card-gallery .card-body {
      padding: 1rem 0.5rem; }
      .gallery .card-gallery .card-body p {
        font-size: 0.8rem;
        margin: 0;
        text-align: left; }
      .gallery .card-gallery .card-body p:first-child {
        font-weight: bold;
        font-size: 1em; }
      .gallery .card-gallery .card-body p.card-text {
        white-space: nowrap;
        max-width: 20em;
        overflow: hidden;
        text-overflow: ellipsis; }
    .gallery .card-gallery .user-card {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border-top: lightyellow; }
      .gallery .card-gallery .user-card img {
        width: 40px;
        border-radius: 50%; }
      .gallery .card-gallery .user-card p {
        font-size: 0.7rem; }

.input-div {
  display: none; }

#btnEdit, #btnEditOk, #btnDeleteArticle {
  cursor: pointer;
  position: absolute;
  background: #F58454;
  border: none; }

#btnEdit {
  background: none;
  display: block;
  top: 61%;
  left: 72%; }

#btnEditOk {
  display: none;
  top: 2% !important;
  left: 72%; }

#btnDeleteArticle {
  display: none;
  top: 2% !important;
  left: 38%; }

#btnEditOk:hover, #btnDeleteArticle:hover {
  color: white;
  background: #4C4C4C; }

.position-input-toggle {
  top: 43% !important; }

.card-body input {
  width: 100%; }

@media (min-width: 768px) {
  .gallery .card-gallery {
    max-width: 190px;
    width: 190px; } }

.card {
  width: 90%;
  max-width: 400px; }
  .card a {
    color: #4C4C4C !important; }

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default; }

/*
* Card component
*/
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em; }

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px; }

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin .form-control:focus {
  border-color: #6891a2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2; }

.btn.btn-signin {
  /*background-color: #4d90fe; */
  /*background-color: rgb(104, 145, 162);
  / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s; }

.forgot-password {
  color: #6891a2; }

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: #0c6121; }

/* inputs index */
::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

.custom-btn.sell,
.custom-btn.buy {
  display: none; }

.search-icon-hero-image {
  display: none; }

input.search-hero-text {
  display: none; }

.search-icon-nav {
  width: 100%; }

#search-icon-navbar {
  font-size: 1.5rem;
  color: black;
  margin-right: 1rem; }

form#mobile-search-form {
  text-align: center; }

.search-bar-nav-mobile {
  display: none;
  background: transparent;
  /* border: none; */
  /* outline: none; */
  /* background-size: 33px; */
  /* background-position: 2px; */
  border-radius: 50px;
  width: 75%;
  height: 45px;
  padding: 20px; }

select {
  padding: 0.5rem; }

.search-products {
  outline: none;
  /* background-size: 22px; */
  /* background-position: 13px; */
  width: 100%;
  color: #000;
  /* border: none; */
  padding: 0.5rem; }

.search-products::-webkit-input-placeholder {
  color: #000; }

.wrapper-price {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000; }

.filter-price {
  display: flex;
  width: 220px;
  border: 0;
  padding: 0;
  margin: 0;
  /* justify-content: center; */
  /* align-items: center; */ }

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400; }

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  /* background: rgba(248, 247, 244, 0.2); */
  border-radius: 3px;
  display: flex; }

.price-field input[type=range] {
  position: absolute; }

/* Reset style for input range */
.price-field input[type=range] {
  color: #000;
  width: 90%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none; }

.price-field input[type=range]::-webkit-slider-thumb {
  color: #000;
  -webkit-appearance: none; }

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  color: #000;
  outline: 0; }

.price-field input[type=range]::-ms-track {
  color: #000;
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px; }

/* Style toddler input range */
.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

.price-field input[type=range]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

/* Style track input range */
.price-field input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

.price-field input[type=range]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

.price-field input[type=range]::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

/* Style for input value block */
.price-wrap {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 7px; }

.price-wrap-1,
.price-wrap-2 {
  color: #000;
  display: flex; }

.price-title {
  color: #000;
  margin-right: 5px; }

.price-wrap_line {
  color: #000;
  margin: 0 10px; }

.price-wrap-1 .uno,
.price-wrap-2 .dos {
  background-color: black;
  color: #000;
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400; }

.price-wrap label {
  color: #000;
  text-align: right; }

/* Style for active state input */
.price-field input[type=range]:hover::-webkit-slider-thumb {
  background-color: black;
  color: #000;
  transition-duration: 0.3s; }

.price-field input[type=range]:active::-webkit-slider-thumb {
  background-color: black;
  color: #000;
  transition-duration: 0.3s; }

.btn-edit {
  display: none; }

input[type=submit],
.custom-btn {
  background-color: #F58454;
  font-weight: bold;
  border: none;
  padding: 0.5rem; }

.btn-add {
  z-index: 5;
  background: #20C3B3;
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  right: 15px;
  box-shadow: 0px 2px 5px grey; }
  .btn-add a > i {
    font-size: 1.2rem; }

@media (min-width: 768px) {
  .btn-add {
    display: none; }
  .custom-btn.sell,
  .custom-btn.buy {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.4rem 2rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 1px black; }
  .btn-edit {
    display: inline-block;
    position: absolute;
    right: 25px;
    border-radius: 50%;
    background-color: #F58454;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 3px grey; }
  .search-icon-hero-image {
    margin-top: 2rem;
    display: inherit; }
  .search-icon-nav {
    display: none; }
  input.search-hero-text {
    margin: 0 auto;
    display: block;
    background-image: none;
    font-size: 1.2rem;
    min-width: 250px;
    padding: 1rem !important;
    height: 37px;
    border-radius: 0;
    background-color: white; }
    input.search-hero-text::placeholder {
      color: black; } }

footer {
  background-color: #263238;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 0.5rem 0;
  color: #F5F5F5; }
  footer p {
    color: #F5F5F5; }
    footer p a {
      color: #F5F5F5 !important; }

.footer-position {
  position: absolute; }

.statistics canvas {
  max-width: 100%;
  margin: 1rem; }

.statistics .first-canvas {
  max-width: 600px;
  margin: 0 auto; }

#map {
  width: 100%;
  height: 400px; }

/* pages */
.video-container {
  margin-right: 0;
  background-image: url("/img/bg-sell.jpg");
  min-height: 400px;
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center; }
  .video-container > video.video-header {
    display: none; }
  .video-container .hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: #fff; }
    .video-container .hero-text h1 {
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
    .video-container .hero-text > form {
      margin-top: 2rem; }

.who-are-we {
  background: #fff;
  text-align: justify;
  padding: 2rem 0; }
  .who-are-we h2 {
    margin: 1rem 0 2rem 0;
    font-weight: bold;
    text-align: left;
    border-left: 5px solid #F58454;
    font-size: 1.8rem;
    padding-left: 10px; }
  .who-are-we span.span-title-who-are-we {
    font-weight: normal;
    color: #000 !important; }
  .who-are-we p {
    margin: 0.75rem 0; }
  .who-are-we p:last-child {
    display: none; }

.why-us {
  padding: 2rem 0; }
  .why-us .why-we ul li {
    max-width: 300px;
    margin: 1rem auto; }
  .why-us h2 {
    text-align: center; }
  .why-us h2 span {
    color: #F58454 !important; }
  .why-us ul,
  .why-us ul li {
    text-align: center;
    list-style: none; }
  .why-us ul li .fa {
    font-size: 2.3rem;
    background: #F58454;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
    text-align: center; }
  .why-us ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem; }
  .why-us ul li {
    min-height: 9rem; }

@media (min-width: 768px) {
  main.index-main {
    flex-direction: column; }
  .video-container {
    position: relative;
    flex-wrap: wrap;
    max-height: 600px; }
    .video-container > video.video-header {
      display: inline-block;
      object-fit: unset;
      width: 100%;
      max-height: 550px; }
    .video-container .hero-text h1 {
      font-size: 3rem; }
  .who-are-we {
    text-align: left; }
    .who-are-we h2 {
      margin: 1rem 0 2rem 0;
      font-weight: bold;
      border-left: 5px solid #F58454;
      font-size: 2.2rem;
      padding-left: 10px; }
    .who-are-we span.span-title-who-are-we {
      font-weight: normal;
      color: #000 !important; }
    .who-are-we p {
      margin: 0.5rem 0; }
    .who-are-we p:last-child {
      display: block; }
  .white {
    color: #F8F9FA !important; }
  .dropdown-menu {
    left: -65px; }
  span#search-icon-navbar {
    display: none; } }

.container.box-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.products {
  background: #fff; }
  .products .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }

main.gallery-products {
  width: 100%;
  text-align: center;
  background: #fff; }
  main.gallery-products p {
    text-align: left; }
  main.gallery-products .gallery {
    background: transparent; }
  main.gallery-products .main-column-products {
    width: 100%; }
  main.gallery-products .slider {
    margin-bottom: 2rem; }

.gallery-products-box {
  width: 100%; }

.sidebar-products {
  display: none;
  margin-top: 2rem;
  width: 90%; }
  .sidebar-products form {
    width: 80%;
    margin: 0 auto; }
  .sidebar-products > form > div {
    margin-top: 1rem; }

div#wrapper#products-wrapper-fix {
  margin-top: -1rem; }

@media (min-width: 768px) {
  .products .container {
    flex-direction: row;
    align-items: baseline; }
  .products main.gallery-products .main-column-products {
    width: 65%; }
  .sidebar-products {
    display: block !important;
    margin-top: 7rem !important;
    width: 90%;
    max-width: 310px; }
  .container.box-gallery {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  .filter-btn {
    display: none; } }

.add-detail-page {
  position: relative;
  height: 100%; }

.add-product-page main {
  padding: 1rem 0; }
  .add-product-page main .add-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px dashed orange;
    max-width: 600px; }
    .add-product-page main .add-product .item-product {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 3px dashed orange; }
  .add-product-page main .preview-button-box {
    width: 90%;
    margin: 0 auto;
    text-align: right; }
  .add-product-page main .add-product_list {
    padding: 0;
    text-align: left; }
    .add-product-page main .add-product_list > li {
      margin-top: 1rem; }
      .add-product-page main .add-product_list > li > p:first-child {
        width: 90%;
        margin: 0 auto; }
      .add-product-page main .add-product_list > li p {
        font-weight: bold;
        font-size: 0.9rem; }
      .add-product-page main .add-product_list > li > div {
        max-width: 600px;
        width: 90%;
        margin: 0 auto; }
        .add-product-page main .add-product_list > li > div input,
        .add-product-page main .add-product_list > li > div textarea {
          background: transparent;
          border: none;
          border-bottom: 1px solid black;
          width: 100%;
          padding: 0.5rem 0.5rem; }
        .add-product-page main .add-product_list > li > div input[type="file"] {
          border: none; }
        .add-product-page main .add-product_list > li > div select {
          width: 100%; }
        .add-product-page main .add-product_list > li > div input.custom-btn {
          background: #F58454;
          border-bottom: none;
          color: #fff; }

form.add-product-form {
  width: 90%;
  margin: 0 auto;
  max-width: 500px; }
  form.add-product-form ul {
    list-style: none; }

.card-image-preview {
  height: 150px; }

@media (min-width: 768px) {
  .preview-button-box {
    display: none; }
  main {
    display: flex;
    justify-content: center; }
    main .preview-data {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; } }

.image-product-detail-box {
  background: url(/img/casa.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  max-width: 500px; }

.product-detail-page {
  position: relative;
  height: 100%; }

.detail {
  margin-bottom: 2rem; }

.product-content-detail > * {
  padding: 0.5rem 0; }

.chat-product-detail-btn {
  text-align: center;
  background: red;
  padding: 1rem 0;
  color: white; }

.img-user-card img {
  width: 50px; }

@media (min-width: 768px) {
  .product-detail {
    display: flex;
    min-height: 600px; }
  .image-product-detail-box {
    width: 70%; }
  .content-detail {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; } }

html, body, .admin-site, root {
  height: 100%; }

root {
  display: flex;
  flex-direction: column; }

app-header header > nav.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; }

.main-container {
  display: flex;
  flex: 1; }
  .main-container div {
    width: 100%; }
  .main-container app-sidebar {
    width: 30%;
    max-width: 250px;
    background-color: #37474F; }
    .main-container app-sidebar .admin-sidebar ul {
      padding: 0; }
      .main-container app-sidebar .admin-sidebar ul > li:hover {
        background-color: #00B9D8; }
      .main-container app-sidebar .admin-sidebar ul > li > a {
        display: inline-block;
        padding: 1rem;
        text-decoration: none; }

dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%; }
  dashboard .main-chart {
    display: flex;
    justify-content: center; }
    dashboard .main-chart .total-users {
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      width: 98%;
      margin: 2rem 0; }
      dashboard .main-chart .total-users .canvas-box {
        width: 50%;
        padding: 1rem;
        margin: 0 auto; }
  dashboard .secondary-charts {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 2rem 0; }
    dashboard .secondary-charts total-products, dashboard .secondary-charts active-products, dashboard .secondary-charts active-users {
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      width: 100%;
      margin: 0 0.5rem; }

.chat {
  height: 100%; }

.chat-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  width: 100%;
  max-width: 768px; }
  .chat-box ul {
    padding: 0;
    margin: 0; }
  .chat-box div {
    width: 100%; }
  .chat-box input {
    width: 100%; }

.chat-row {
  justify-content: center;
  margin-top: 2rem; }

.sidebar-chat-box {
  border: 1px solid black;
  flex: 1; }

.content-message-box {
  flex: 1; }

@media (min-width: 768px) {
  .chat-box {
    flex-direction: row; } }

.box-profile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .box-profile > div {
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  .box-profile figure > img {
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); }
  .box-profile i {
    font-size: 1.5rem; }
  .box-profile div.sidebar {
    display: none; }
  .box-profile .statistics-values-mobile {
    display: flex;
    margin-top: 1rem; }
    .box-profile .statistics-values-mobile > div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  .box-profile .gallery-products h5 {
    font-weight: bold; }

@media (min-width: 768px) {
  .box-profile {
    flex-direction: row; }
    .box-profile > div {
      width: auto; }
    .box-profile .left-box {
      flex: 1;
      margin: 2rem 1rem;
      padding: 0; }
    .box-profile .right-box {
      padding: 0;
      margin: 2rem 1rem;
      flex: 3;
      align-self: baseline; }
    .box-profile div.sidebar {
      margin-top: 1rem;
      display: block; }
      .box-profile div.sidebar ul {
        padding: 0; }
        .box-profile div.sidebar ul > li {
          list-style: none;
          padding: 0; }
          .box-profile div.sidebar ul > li > a {
            width: 100%;
            background-color: #F5F5F5;
            display: inline-block;
            padding: 1rem;
            color: black !important;
            text-decoration: none; } }

.edit-profile-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .edit-profile-form > * {
    width: 100%; }
  .edit-profile-form label {
    width: 100%; }
  .edit-profile-form input {
    width: 100%; }

@media (min-width: 768px) {
  .edit-profile-form {
    flex-direction: row; }
  .image-div-form {
    align-self: baseline; }
    .image-div-form .form-group {
      width: 90%; } }

.dropdown-menu a.dropdown-item {
  color: #4B4C63; }

.container.video {
  max-height: 500px; }

.hide {
  display: none; }

.page {
  background-color: #F5F5F5;
  position: relative;
  height: 100%; }

.gallery-profile {
  justify-content: center; }

.position-absolute-footer-pug {
  position: absolute; }

#dropdownBtn {
  background: transparent;
  border: none; }

.dropdown-menu.show a {
  color: black !important; }

.avatar, .personal-info {
  padding: 2rem; }
  .avatar .upload-input, .personal-info .upload-input {
    width: 100%; }

.profile-page label {
  margin: 0;
  min-height: 150px; }
  .profile-page label > img {
    height: 150px; }

.profile-card {
  width: 100%;
  max-width: inherit; }

.profile-page input[type=file] {
  display: none; }

span#edit-span {
  display: none; }

.title:hover span#edit-span {
  display: inline-block; }

.sidebar-nav > li:first-child {
  text-align: center; }

.sidebar-nav > li {
  min-height: 42px; }

.hide {
  display: none !important; }

@media (min-width: 768px) {
  .sidebar-products {
    display: block; }
  .nav-desktop .dropdown-menu a.dropdown-item {
    color: #4B4C63; }
  a.btn-search {
    display: none; }
  .login-form-box {
    min-height: 600px;
    align-items: center; }
  .login-form-box form {
    width: 50%;
    max-width: 450px; }
  .card-gallery {
    width: 20%; }
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled {
    padding-left: 250px; }
  #sidebar-wrapper {
    width: 0; }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

@media (max-width: 768px) {
  .show {
    display: none; }
  .collapse.show {
    display: none; } }

/* home desktop */
