html, body {
  height: 100%;
  background-color: #F8F9FA; }

p {
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  color: white !important; }

.divider-new {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px; }

/* components */
nav {
  background: #4C4C4C;
  z-index: 1; }
  nav.navbar {
    padding: 0 0.5rem; }

.menu-btn {
  border: none; }

.nav-desktop {
  width: 100%; }
  .nav-desktop p {
    margin: 0 1rem; }

.logo {
  color: #F8F9FA; }
  .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center; }
  .logo span.market-logo {
    width: 35px;
    display: inline-block;
    background-color: #F58454;
    padding: 0.2rem; }
  .logo span.market-logo > h1 {
    white-space: normal;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    font-size: 0.7rem; }
  .logo p {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.5rem; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  background: #4C4C4C;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #F8F9FA; }

.sidebar-nav li a:hover {
  text-decoration: none;
  background: #20C3B3; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #4B4C63; }

.sidebar-nav > .sidebar-brand a:hover {
  background: none; }

.profile-side-bar {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  border-bottom: 1px solid lightyellow; }
  .profile-side-bar img {
    border-radius: 50%; }
  .profile-side-bar .action-profile p {
    margin: 0; }
    .profile-side-bar .action-profile p a {
      display: inline; }

.user-info {
  flex: 1;
  margin-left: 10px; }

.gallery {
  background-color: #F8F9FA;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }
  .gallery .card-gallery {
    width: 45%;
    margin: 0.3rem;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    .gallery .card-gallery > a > img {
      min-height: 150px; }
    .gallery .card-gallery .card-body {
      padding: 1rem 0.5rem; }
      .gallery .card-gallery .card-body p {
        font-size: 0.8rem;
        margin: 0;
        text-align: left; }
      .gallery .card-gallery .card-body p:first-child {
        font-weight: bold;
        font-size: 1em; }
      .gallery .card-gallery .card-body p.card-text {
        white-space: nowrap;
        max-width: 20em;
        overflow: hidden;
        text-overflow: ellipsis; }
    .gallery .card-gallery .user-card {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border-top: lightyellow; }
      .gallery .card-gallery .user-card img {
        width: 40px;
        border-radius: 50%; }
      .gallery .card-gallery .user-card p {
        font-size: 0.7rem; }

@media (min-width: 768px) {
  .gallery .card-gallery {
    max-width: 190px;
    width: 190px; } }

.card {
  width: 90%;
  max-width: 400px; }
  .card a {
    color: #4C4C4C !important; }

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default; }

/*
* Card component
*/
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em; }

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px; }

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin .form-control:focus {
  border-color: #6891a2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2; }

.btn.btn-signin {
  /*background-color: #4d90fe; */
  /*background-color: rgb(104, 145, 162);
  / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s; }

.forgot-password {
  color: #6891a2; }

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: #0c6121; }

/* inputs index */
::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

.search-icon-hero-image {
  display: none; }

.search-icon-nav {
  width: 100%; }

#search-icon-navbar {
  font-size: 1.5rem;
  color: black;
  margin-right: 1rem; }

form#mobile-search-form {
  text-align: center; }

.search-bar-nav-mobile {
  display: none;
  background: transparent;
  /* border: none; */
  /* outline: none; */
  /* background-size: 33px; */
  /* background-position: 2px; */
  border-radius: 50px;
  width: 75%;
  height: 45px;
  padding: 20px; }

select {
  padding: 0.5rem; }

.search-products {
  outline: none;
  /* background-size: 22px; */
  /* background-position: 13px; */
  width: 100%;
  color: #000;
  /* border: none; */
  padding: 0.5rem; }

.search-products::-webkit-input-placeholder {
  color: #000; }

.wrapper-price {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000; }

.filter-price {
  display: flex;
  width: 220px;
  border: 0;
  padding: 0;
  margin: 0;
  /* justify-content: center; */
  /* align-items: center; */ }

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400; }

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  /* background: rgba(248, 247, 244, 0.2); */
  border-radius: 3px;
  display: flex; }

.price-field input[type=range] {
  position: absolute; }

/* Reset style for input range */
.price-field input[type=range] {
  color: #000;
  width: 90%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none; }

.price-field input[type=range]::-webkit-slider-thumb {
  color: #000;
  -webkit-appearance: none; }

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  color: #000;
  outline: 0; }

.price-field input[type=range]::-ms-track {
  color: #000;
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px; }

/* Style toddler input range */
.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

.price-field input[type=range]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: black;
  color: #000;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100; }

/* Style track input range */
.price-field input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

.price-field input[type=range]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

.price-field input[type=range]::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  color: #000;
  border-radius: 5px; }

/* Style for input value block */
.price-wrap {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 7px; }

.price-wrap-1,
.price-wrap-2 {
  color: #000;
  display: flex; }

.price-title {
  color: #000;
  margin-right: 5px; }

.price-wrap_line {
  color: #000;
  margin: 0 10px; }

.price-wrap-1 .uno,
.price-wrap-2 .dos {
  background-color: black;
  color: #000;
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400; }

.price-wrap label {
  color: #000;
  text-align: right; }

/* Style for active state input */
.price-field input[type=range]:hover::-webkit-slider-thumb {
  background-color: black;
  color: #000;
  transition-duration: 0.3s; }

.price-field input[type=range]:active::-webkit-slider-thumb {
  background-color: black;
  color: #000;
  transition-duration: 0.3s; }

input[type=submit], .custom-btn {
  background-color: #00C5DD;
  border: none;
  padding: 0.5rem; }

@media (min-width: 768px) {
  .search-icon-hero-image {
    margin-top: 2rem;
    display: inherit; }
  .search-icon-nav {
    display: none; }
  .search-hover {
    margin: 0 auto;
    display: block;
    background-image: none;
    font-size: 1.2rem;
    min-width: 250px;
    padding: 1.5rem !important;
    height: 37px;
    border-radius: 0;
    background-color: white; } }

footer {
  background-color: #4C4C4C;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  padding: 1rem 0;
  color: #F8F9FA; }

.login footer, .register footer {
  position: absolute; }

.statistics canvas {
  max-width: 100%;
  margin: 1rem; }

.statistics .first-canvas {
  max-width: 600px;
  margin: 0 auto; }

/* pages */
.header {
  position: relative;
  min-height: 400px;
  width: 100%;
  background-image: url("http://res.cloudinary.com/drenzfi8m/image/upload/v1503386648/bg-landing_lawsg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header video {
    display: none; }
  .header .hero-text {
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
    .header .hero-text h1 {
      font-size: 1.5rem; }

.video-box .header .hero-text {
  width: 90%;
  margin: 0 auto; }
  .video-box .header .hero-text h1 {
    font-size: 2rem; }

.who-are-we {
  background: #fff;
  text-align: justify;
  padding: 2rem 0; }
  .who-are-we .who-are-we-image {
    text-align: center;
    margin-top: 2rem; }
  .who-are-we h2 {
    text-align: center; }

.why-us {
  padding: 2rem 0; }
  .why-us .why-we ul li {
    max-width: 300px;
    margin: 1rem auto; }
  .why-us h2 {
    text-align: center; }
  .why-us h2 span {
    color: #F58454; }
  .why-us ul,
  .why-us ul li {
    text-align: center;
    list-style: none; }
  .why-us ul li .fa {
    font-size: 2.3rem;
    background: #F58454;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
    text-align: center; }
  .why-us ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem; }
  .why-us ul li {
    min-height: 9rem; }

@media (min-width: 768px) {
  span#search-icon-navbar {
    display: none; }
  .white {
    color: #F8F9FA !important; }
  .dropdown-menu {
    left: -65px; }
  section.who-are-we {
    margin-top: 1rem; }
  section.who-are-we .section-who-are-we {
    display: flex; }
    section.who-are-we .section-who-are-we img {
      width: 75%; } }

@media (min-width: 1164px) {
  section.who-are-we {
    padding-top: 5rem; } }

.container.box-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.products {
  background: #fff; }
  .products .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }

main.gallery-products {
  width: 100%;
  text-align: center;
  background: #fff; }
  main.gallery-products p {
    text-align: left; }
  main.gallery-products .gallery {
    background: transparent; }
  main.gallery-products .sidebar-products {
    margin-top: 2rem;
    width: 90%; }
    main.gallery-products .sidebar-products form {
      width: 80%;
      margin: 0 auto; }
    main.gallery-products .sidebar-products > form > div {
      margin-top: 1rem; }
  main.gallery-products .main-column-products {
    width: 100%; }
  main.gallery-products .slider {
    margin-bottom: 2rem; }

div#wrapper#products-wrapper-fix {
  margin-top: -1rem; }

@media (min-width: 768px) {
  .products .container {
    flex-direction: row;
    align-items: baseline; }
  .products main.gallery-products .main-column-products {
    width: 65%; }
  .container.box-gallery {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  .sidebar-products {
    margin-top: 7rem !important;
    width: 90%;
    max-width: 310px; } }

.add main {
  padding: 1rem 0; }
  .add main .add-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px dashed orange;
    border-right: none;
    max-width: 600px; }
    .add main .add-product .item-product {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 3px dashed orange; }
  .add main .add-product_list {
    padding: 0;
    text-align: center; }
    .add main .add-product_list > li {
      margin-top: 1rem; }
      .add main .add-product_list > li > div {
        max-width: 600px;
        width: 90%;
        margin: 0 auto; }
        .add main .add-product_list > li > div input, .add main .add-product_list > li > div textarea {
          width: 100%;
          padding: 1rem 0.5rem; }
  .add main input[type=submit] {
    text-align: center;
    max-width: 200px; }

.image-product-detail-box {
  background-image: url("/dist/img/casa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100%;
  max-width: 500px; }

.product-content-detail > * {
  padding: 0.5rem 0; }

.chat-product-detail-btn {
  text-align: center;
  background: red;
  padding: 1rem 0;
  color: white; }

.img-user-card img {
  width: 50px; }

@media (min-width: 768px) {
  .product-detail {
    display: flex;
    min-height: 600px; }
  .image-product-detail-box {
    width: 70%; }
  .content-detail {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; } }

.admin-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.admin-navbar {
  display: flex;
  justify-content: space-between; }

.statistics .summary-statistic {
  display: flex; }
  .statistics .summary-statistic > * {
    flex: 1; }

.statistics .graphs-statistics {
  display: flex; }
  .statistics .graphs-statistics .under {
    display: flex; }
    .statistics .graphs-statistics .under > * {
      flex: 1; }

.data-admin {
  min-height: 115px;
  margin: 1rem;
  border-right: 1px solid black;
  text-align: center; }
  .data-admin p {
    font-size: 3rem; }

.administration-panel {
  height: 100vh; }

.admin-main-content {
  flex: 1;
  display: flex; }
  .admin-main-content > .admin-sidebar {
    background: #4C4C4C;
    width: 200px;
    max-width: 200px; }
    .admin-main-content > .admin-sidebar ul {
      padding: 0; }
      .admin-main-content > .admin-sidebar ul > li > a {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        display: inline-block;
        text-decoration: none; }
        .admin-main-content > .admin-sidebar ul > li > a:hover {
          background: #20C3B3; }
  .admin-main-content > .admin-content {
    display: flex;
    justify-content: center;
    width: 70%;
    flex: 1;
    background: #fff; }
    .admin-main-content > .admin-content h3 {
      margin: 2rem 0;
      text-align: center; }

.graphs-statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.canvas-box {
  width: 30%; }

.canvas-box:first-child {
  width: 100%;
  height: 400px;
  margin: 0 auto; }

.chat {
  height: 100%; }

.chat-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  width: 100%;
  max-width: 768px; }
  .chat-box ul {
    padding: 0;
    margin: 0; }
  .chat-box div {
    width: 100%; }
  .chat-box input {
    width: 100%; }

.chat-row {
  justify-content: center;
  margin-top: 2rem; }

.sidebar-chat-box {
  border: 1px solid black;
  flex: 1; }

.content-message-box {
  flex: 1; }

@media (min-width: 768px) {
  .chat-box {
    flex-direction: row; } }

.dropdown-menu a.dropdown-item {
  color: #4B4C63; }

.container.video {
  max-height: 500px; }

.container.video {
  max-width: 100%; }

.home, .login, .perfil, .register, .products {
  position: relative;
  height: 100%; }

.home {
  height: auto; }

.btn-add {
  background: #20C3B3;
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  right: 15px;
  box-shadow: 0px 2px 5px grey; }
  .btn-add a > i {
    font-size: 1.2rem; }

.perfil footer {
  position: inherit; }

.gallery-profile {
  justify-content: center; }

.position-absolute-footer-pug {
  position: absolute; }

.map {
  height: 200px;
  width: 100%;
  background-image: url("../../img/map.jpg"); }

.profile {
  justify-content: center; }
  .profile .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .profile .card .card-heading {
    padding: 0 20px;
    margin: 0; }
  .profile .card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5; }
  .profile .card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .profile .card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top; }
  .profile .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626; }
  .profile .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999; }
  .profile .card .card-body {
    padding: 0 20px;
    margin-top: 20px; }
  .profile .card .card-media {
    padding: 0 20px;
    margin: 0 -14px; }
  .profile .card .card-media img {
    max-width: 100%;
    max-height: 100%; }
  .profile .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0; }
  .profile .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8; }
  .profile .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px; }
  .profile .card .card-comments .comments-collapse-toggle a,
  .profile .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .profile .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold; }
  .profile .card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top; }
  .profile .card.people:first-child {
    margin-left: 0; }
  .profile .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff; }
  .profile .card.people .card-top.green {
    background-color: #53a93f; }
  .profile .card.people .card-top.blue {
    background-color: #427fed; }
  .profile .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .profile .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040; }
  .profile .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis; }
  .profile .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .profile .card.hovercard {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center; }
  .profile .card.hovercard .cardheader {
    background: url("../../img/map.jpg");
    background-size: cover;
    min-height: 200px;
    max-height: 300px; }
  .profile .card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px; }
  .profile .card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5); }
  .profile .card.hovercard .info {
    padding: 4px 8px 10px; }
  .profile .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle; }
  .profile .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis; }
  .profile .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px; }
  .profile .bottom {
    margin: 0;
    display: flex; }
    .profile .bottom div {
      flex: 1; }
    .profile .bottom p {
      margin: 0; }
    .profile .bottom p:last-child {
      font-size: 0.8rem; }
  .profile .btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px; }

#dropdownBtn {
  background: transparent;
  border: none; }

.dropdown-menu.show a {
  color: black !important; }

.avatar, .personal-info {
  padding: 2rem; }
  .avatar .upload-input, .personal-info .upload-input {
    width: 100%; }

.profile-card {
  width: 100%;
  max-width: inherit; }

.sidebar-nav > li:first-child {
  text-align: center; }

.sidebar-nav > li {
  min-height: 42px; }

@media (min-width: 768px) {
  .btn-add {
    display: none; }
  .sidebar-products {
    display: block; }
  .nav-desktop .dropdown-menu a.dropdown-item {
    color: #4B4C63; }
  a.btn-search {
    display: none; }
  .video-box {
    display: block;
    max-height: 600px; }
  .header {
    background-image: none;
    margin-bottom: 1rem; }
    .header video {
      min-height: 400px;
      max-height: 500px;
      display: inline-block;
      opacity: 0.9;
      vertical-align: baseline;
      object-fit: cover;
      width: 100%;
      margin-top: -100px; }
    .header .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; }
      .header .hero-text h1 {
        font-size: 3rem; }
  .container.video {
    max-height: 500px; }
  .login-form-box {
    min-height: 600px;
    align-items: center; }
  .login-form-box form {
    width: 50%;
    max-width: 450px; }
  .card-gallery {
    width: 20%; }
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled {
    padding-left: 250px; }
  #sidebar-wrapper {
    width: 0; }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

@media (max-width: 768px) {
  .show {
    display: none; }
  .collapse.show {
    display: none; } }

/* home desktop */
