extends ../layout

block content
    .container.edit-page-box
      h3 Edit Profile
      .row
        form.edit-profile-form#edit-profile-form(enctype="multipart/form-data")
          .image-div-form
            .form-group.box-img-edit-page
              #image-preview.card-image-preview
              label(for="image-upload", id="image-label") 
              input(type='file',  id="image-upload" name="avatarUrl", accept='image/*')
          .options-div-form
            .form-group
              .div-modal-info-box
                label.control-label Username:
                a#info-username-alert-button.modal-button-info
                  i.fa.fa-info(aria-hidden='true') 
              input.form-control(value='', type='text', name="username", required)
            .form-group
              .div-modal-info-box
                label.control-label Where do you live:
                a#info-city-alert-button.modal-button-info
                  i.fa.fa-info(aria-hidden='true') 
              input.form-control(value='', type='text', name="city")
            .form-group
              label.control-label Gender:*
                //- input.form-control(value='', type='text', name="gender")
                select.form-control(value='', type='text', name="gender", required)
                  option(value="male") Male
                  option(value="female") Female
            .form-group
              label.control-label Age:*
                input.form-control(value='', type='number', name="age", min="14" max="100")
            .form-group
              label.control-label.submit-buttons-edit-profile
                input.custom-btn#save-changes(value='Save', type='submit', data-id=user._id)
                input.custom-btn(value='Cancel', type='reset')