extends ../layout

block content
  .profile-page
    .container
      .row.profile
        .card.profile-card.hovercard
          .cardheader
          .avatar
            img(alt='', src='/img/trolface.jpg')
          .info
            .title
              a(target='_blank', href='') Otro usuario
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
          .bottom
            div
              p 3
              p En venta
            div
              p 3
              p Vendido
            div
              p 3
              p Valoraciones
            div
              p 3
              p Favoritos
      .row.gallery-profile
        .col-12
          // #begin gallery
          .gallery-products
            h2 Tus artículos
            .gallery
              // #begin card
              .card-gallery
                a(href='/user-id/product-detail')
                  img.card-img-top(src='http://lorempixel.com/400/200')
                .card-body
                  p 30€
                  p Title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a(href='/profile')
                  .user-card
                    .img-user-card
                      img.img-circle(src='http://lorempixel.com/50/50')
                    .user-info
                      p User
                      p 15 products
              // #begin card
              .card-gallery
                a(href='/user-id/product-detail')
                  img.card-img-top(src='http://lorempixel.com/400/200')
                .card-body
                  p 30€
                  p Title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a(href='/profile')
                  .user-card
                    .img-user-card
                      img.img-circle(src='http://lorempixel.com/50/50')
                    .user-info
                      p User
                      p 15 products
              // #begin card
              .card-gallery
                a(href='/user-id/product-detail')
                  img.card-img-top(src='http://lorempixel.com/400/200')
                .card-body
                  p 30€
                  p Title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a(href='/profile')
                  .user-card
                    .img-user-card
                      img.img-circle(src='http://lorempixel.com/50/50')
                    .user-info
                      p User
                      p 15 products
              // #begin card
              .card-gallery
                a(href='/user-id/product-detail')
                  img.card-img-top(src='http://lorempixel.com/400/200')
                .card-body
                  p 30€
                  p Title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a(href='/profile')
                  .user-card
                    .img-user-card
                      img.img-circle(src='http://lorempixel.com/50/50')
                    .user-info
                      p User
                      p 15 products
              // #begin card
              .card-gallery
                a(href='/user-id/product-detail')
                  img.card-img-top(src='http://lorempixel.com/400/200')
                .card-body
                  p 30€
                  p Title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a(href='/profile')
                  .user-card
                    .img-user-card
                      img.img-circle(src='http://lorempixel.com/50/50')
                    .user-info
                      p User
                      p 15 products
          .btn-add
            a(href='/add-product')
              i.fa.fa-plus(aria-hidden='true')
          input(type='file' id="img-id")
