  .chart-box {
    padding: 1rem;
    max-width: 600px;
    width: 600px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & > canvas{
      width: 100%;
    }
  }
