@import "./_colors";

html, body {
  min-height: 100%;
  height: 100%;
  background-color: $bg-body-color;

}

p {
  margin: 0;
}

.fa.fa-heart {
  color: red;
}

.btn {
  outline: none !important;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}