.add-detail-page {
  position: relative;
  height: 100%;
}
.card-preview {
  margin: 0 auto;
  position: relative;
  width: 90%;
  /* max-width: 250px; */

  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  max-width: 400px;
}
.add-product-page {
  main {
    padding: 1rem 0;
    .add-product {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 3px dashed orange;
      max-width: 600px;
      & .item-product {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        border-right: 3px dashed orange;
      }
    }
    .preview-button-box {
      width: 90%;
      margin: 0 auto;
      text-align: right;
    }
    .add-product_list {
      padding: 0;
      text-align: left;
      &>li {
        margin-top: 1rem;
        &>p:first-child {
          width: 90%;
          margin: 0 auto;
        }
        & p {
          font-weight: bold;
          font-size: 0.9rem;
        }
        &>div {
          max-width: 600px;
          width: 90%;
          margin: 0 auto;
          & input,
          & textarea {
            background: transparent;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
            padding: 0.5rem 0.5rem;
          }
          & input[type="file"] {
            border: none;
          }
          & select {
            width: 100%;
          }
          & input.custom-btn {
            background: #F58454;
            border-bottom: none;
            color: #fff;
          }
        }
      }
    }
  }
}
form.add-product-form {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  ul {
    list-style: none;
  }
}
.card-image-preview {
  height: 250px;
}

@media(min-width:768px) {
  .preview-button-box {
    display: none;
  }
  main {
    display: flex;
    justify-content: center;
    .preview-data {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}