items-table {
  h3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  table.administration-table {
    padding-top: 2rem;
    width: 90%;
    margin: 3rem auto;
    & td {
      vertical-align: middle;
    }
    & button {
      height: 30px;
      line-height: 15px;
    }
  }
}

.admin-bar {
  color: #fff;
  border: none;
}
