.chat {
  height: 100%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  width: 100%;
  max-width: 768px;
  ul {
    padding: 0;
    margin: 0;
  }
  div {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

.chat-row {
  justify-content: center;
  margin-top: 2rem;
}

.sidebar-chat-box {
  border: 1px solid black;
  flex: 1;
}
.content-message-box {
  flex: 1;
}

@media(min-width: 768px) {
  .chat-box {
    flex-direction: row;
  }
}
  