.image-product-detail-box {
  background: url(/img/casa.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  max-width: 500px;
}

.product-detail-page {
  position: relative;
  height: 100%;
}

.detail {
  margin-bottom: 2rem;
}
.product-content-detail {
  & > * {
    padding: 0.5rem 0;
  }
}

.chat-product-detail-btn {
  text-align: center;
  background: red;
  padding: 1rem 0;
  color: white;
}

.img-user-card {
  img {
    width: 50px;
  }
}

@media(min-width:768px) {
  .product-detail {
    display: flex;
    min-height: 600px;
  }
  .image-product-detail-box {
    width: 70%;
  }
  .content-detail {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
}