.edit-page-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-profile-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & > * {
    width: 100%;
  }
  label {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .box-img-edit-page {
    text-align: center;
    img {
      max-width: 200px;
    }
  }
}

@media(min-width:768px){
  .edit-profile-form{
    flex-direction: row;
  }
  .image-div-form{
    align-self: baseline;
    & .form-group {
      width: 90%;
    }
  }
}