.card-profile {
  background: #fff;
  padding-bottom: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  & > figure {
    img {
      border-radius: 50%;
      width: 100%;
      max-width: 120px;
    }
  }
  .info {
    padding: 1rem;
  }
  .bottom {
    display: flex;
    justify-content: center;
    & > div {
      flex: 1;
    }
  }
}







@media(min-width:768px) {
  .card-profile {
    
  }
}