@import "../base/_colors";
.profile-page {
  flex: 1;
}

.box-profile {
  display: flex;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &>div {
    min-width: 300px;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  figure>img {
    max-width: 400px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  }
  i {
    font-size: 1.5rem;
  }
  div.sidebar {
    display: none;
  }
  .statistics-values-mobile {
    display: flex;
    margin-top: 1rem;
    &>div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  .gallery-products {
    margin-top: 1rem;
    & > p{
      font-style: italic;
      font-weight: bold;
      /* border-top: 2px solid black; */
      border-bottom: 2px solid black;
      display: inherit;
      text-align: left;
      margin-bottom: 2rem;
    }
  }
}

.profile-card {
  p {
    font-size: 1rem !important;
  }
  .profile-card-body {
    min-height: 80px;
    & > p {
      font-size: 0.9rem !important;
    }
    & > p:first-child {
      font-weight: bold;
      font-size: 1.1rem !important;
    }
  }
}
@media(min-width:768px) {
  .box-profile {
    flex-direction: row;
    &>div {
      width: auto;
    }
    .left-box {
      display: flex;
      flex: 1;
      margin: 2rem 1rem;
      padding: 0;
      flex-direction: column;
      justify-content: space-around;
    }
    .right-box {
      padding: 0;
      margin: 2rem 1rem;
      flex: 3;
      align-self: baseline;
    }
    div.sidebar {
      margin-top: 1rem;
      display: block;
      ul {
        padding: 0;
        &>li {
          list-style: none;
          padding: 0;
          &>a {
            width: 100%;
            background-color: $bg-body-color;
            display: inline-block;
            padding: 1rem;
            color: black !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}