.container.box-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.products {
  background: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}


main.gallery-products {
  width: 100%;
  text-align: center;
  background: #fff;
 
  p {
    text-align: left;
  }
  .gallery {
    background: transparent;
  }
  .sidebar-products {
    margin-top: 2rem;
    width: 90%;
    form {
      width: 80%;
      margin: 0 auto;
    }
    & > form > div {
      margin-top: 1rem;
    }
  }
  .main-column-products {
    width: 100%;
  }
  .slider {
    margin-bottom: 2rem;
  }
}

div#wrapper#products-wrapper-fix {
  margin-top: -1rem;
}

@media(min-width: 768px) {
  .products {
    .container {
      flex-direction: row;
      align-items: baseline;
    }
    main.gallery-products {
      .main-column-products {
        width: 65%;
      }
    }
  }
  .container.box-gallery {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .sidebar-products {
    margin-top: 7rem !important;
    width: 90%;
    max-width: 310px;
  }
}
