.video-container {
  margin-right: 0;
  background-image: url('/img/bg-sell.jpg');
  min-height: 400px;
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  &>video.video-header {
    display: none;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: #fff;
    h1 {
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
    &>form {
      margin-top: 2rem;
    }
  }
}

.who-are-we {
  background: #fff;
  text-align: justify;
  padding: 2rem 0;
  h2 {
    margin: 1rem 0 2rem 0;
    font-weight: bold;
    text-align: left;
    border-left: 5px solid $bg-logo-span;
    font-size: 1.8rem;
    padding-left: 10px;
  }
  span.span-title-who-are-we {
    font-weight: normal;
    color: #000 !important;
  }
  p {
    margin: 0.75rem 0;
  }
  p:last-child {
    display: none;
  }
}

.why-us {
  padding: 2rem 0;
  .why-we {
    ul li {
      max-width: 300px;
      margin: 1rem auto;
    }
  }
  h2 {
    text-align: center;
  }
  h2 span {
    color: $bg-logo-span !important;
  }
  ul,
  ul li {
    text-align: center;
    list-style: none;
  }
  ul li .fa {
    font-size: 2.3rem;
    background: $bg-logo-span;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
    text-align: center;
  }
  ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
  }
  ul li {
    min-height: 9rem;
  }
}

@media(min-width:768px) {
  main.index-main {
    flex-direction: column;
  }
  .video-container {
    position: relative;
    flex-wrap: wrap;
    max-height: 600px;
    &>video.video-header {
      display: inline-block;
      object-fit: unset;
      width: 100%;
      max-height: 550px;
    }
    .hero-text {
      h1 {
        font-size: 3rem;
      }
    }
  }
    .who-are-we {
      text-align: left;
      h2 {
        margin: 1rem 0 2rem 0;
        font-weight: bold;
        border-left: 5px solid $bg-logo-span;
        font-size: 2.2rem;
        padding-left: 10px;
      }
      span.span-title-who-are-we {
        font-weight: normal;
        color: #000 !important;
      }
      p {
        margin: 0.5rem 0;
      }
      p:last-child {
        display: block;
      }
    }
    .white {
      color: #F8F9FA !important;
    }
    .dropdown-menu {
      left: -65px;
    }
    span#search-icon-navbar {
      display: none;
    }
}