.box-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.products {
  background: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
.range {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  & > label {

    margin: 0;
  }
  & > input[type=number] {
    width: 90% !important;
    align-self: flex-end;
  }
  & input.from {
    align-self: flex-start;
  }

}
main.gallery-products {
  width: 100%;
  text-align: center;
  background: #fff;
  p {
    text-align: left;
  }
  .gallery {
    background: transparent;
  }
  .main-column-products {
    margin-top: 2rem;
    width: 100%;
  }
  .slider {
    margin-bottom: 2rem;
  }
}

.gallery-sold {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.sidebar-products {
  margin-top: 2rem;
  width: 90%;
  margin-bottom: 2rem;
  form {
    width: 90%;
    margin: 0 auto;
  }
  &>form>div {
    margin-top: 1rem;
    &:last-child {
      margin-top: 3rem;
    }
  }
  input,
  select {
    width: 100%;
    padding: 0.5rem;
  }
  input[type=number] {
    width: 45%;
    &::placeholder {
      color: black;
    }
  }
  .div-range-price-inputs {
    display: flex;
    justify-content: space-between;
  }
}

div#wrapper#products-wrapper-fix {
  margin-top: -1rem;
}

@media(min-width: 768px) {
  main.gallery-products {
    .main-column-products {
      width: 65%;
      padding-top: 8rem;
    }
  }
  .sidebar-products {
    display: block !important;
    margin-top: 7rem !important;
    width: 90%;
    max-width: 310px;
  }
  .box-gallery {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .filter-btn {
    display: none;
  }
}