




.products {
  background: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}


main.gallery-products {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  background: #fff;
 
  p {
    text-align: left;
  }
  .gallery {
    background: transparent;
  }
  .sidebar-products {
    margin-top: 2rem;
    width: 90%;
    & > form > div {
      margin-top: 1rem;
    }
  }
  .main-column-products {
    width: 90%;
  }
  .slider {
    margin-bottom: 2rem;
  }
}

div#wrapper#products-wrapper-fix {
  margin-top: -1rem;
}

@media(min-width: 768px) {
  .products {
    .container {
      flex-direction: row;
      align-items: baseline;
    }
    main.gallery-products {
      .sidebar-products {
        display: block;
        width: 30%;
      }
      .main-column-products {
        width: 65%;
      }
    }
  }
}
