header
  nav.navbar.navbar-expand-md.navbar-light
    button#menu-toggle.menu-btn.navbar-toggler.d-lg-none(type='button', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/')
      .logo
        h1(class={"white": idSection === 'home'})
          | Sell it 
          span.market-logo
            h1 MARKET
    span#search-icon-navbar 
      i.fa.fa-search(aria-hidden='true')
    .search-icon-nav
      form#mobile-search-form(target="/products")
        input.search-bar-nav-mobile(type='text', name='', placeholder='Qué quieres buscar..')
    .nav-desktop.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav-items
        li.nav-item.active
          a.nav-link(href='/', class={"white": idSection === 'home'})
            | Inicio 
        li.nav-item.active
          a.nav-link(href='/products',class={"white": idSection === 'home'})
            | Escaparate
        li.nav-item.active
          a.nav-link(href='/add-product',class={"white": idSection === 'home'})
            | Añadir Producto
      p
        a(href='/login',class={"white": idSection === 'home'}) Acceder
      .btn-group
        .profile-side-bar
          .profile-photo
            img(src='http://lorempixel.com/30/30')
        button#dropdownBtn.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.sr-only Toggle Dropdown
        .dropdown-menu
          a.dropdown-item(href='/profile') Mi cuenta
          a.dropdown-item(href='/logout') Salir
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li
          .profile-side-bar
            .profile-photo
              img(src='http://lorempixel.com/50/50')
            .action-profile
              p
                a(href='/login') Mi cuenta
        li
          a(href='/') Inicio
        li
          a(href='/products') Escaparate
        li(class={'hide': idSection !== 'profile'})
          a(href='/edit-profile') Editar Cuenta
        li
          a(href='/logout') Salir
