header
  nav.navbar.navbar-expand-md.navbar-light
    .container-nav
      button#menu-toggle.menu-btn.navbar-toggler.d-lg-none(type='button', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span
          i.fa.fa-bars(aria-hidden='true')
      a.navbar-brand(href='/')
        .logo
          h1(class={"white": idSection === 'home'})
            | Sell it 
            span.market-logo
              h1 MARKET
      .div
        button.filter-btn#filterBtn(class={"hide": idSection !== 'products'})
          span
            i.fa.fa-filter(aria-hidden='true')
    .nav-desktop.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav-items
        li.nav-item
          a.nav-link(href='/', class={"white": idSection === 'home'})
            | Home 
        li.nav-item
          a.nav-link(href='/products',class={"white": idSection === 'home'}, class={"hide": idSection === 'home'} )
            | Buy
        li.nav-item
          a.nav-link(href='/add-product',class={"white": idSection === 'home'} ,  class={"hide": idSection === 'home'})
            | Sell 
      if (!userLog)
        p
          a(href=`/login`,class={"white": idSection === 'home'}) Login
      .btn-group
        .profile-nav-bar
          .profile-photo-navbar
            img(src='http://via.placeholder.com/30x30')
        button#dropdownBtn.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.sr-only Toggle Dropdown
        if (userLog)
          .dropdown-menu
            a.dropdown-item(href=`/profile/${userLog._id}`) My account
            a.dropdown-item(href='/logout') Exit
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li
          .profile-side-bar
            .profile-photo
              img(src='http://via.placeholder.com/50x50')
            .action-profile
              if (userLog)
                p
                  a(href=`/profile/${userLog._id}`) My account
              else 
                p
                  a(href=`/login`) Login
        li(class={"hide": idSection !== 'profile'})
          a(href='/edit-profile') Edit Account
        li
          a(href='/products') Buy
        li(class={"hide": idSection !== 'profile'})
          a(href='/add-product') Sell
        li
          a(href='/logout') Exit


