script(src='/libs/bower_components/jquery/dist/jquery.min.js')
script(src='/libs/bower_components/popper.js/dist/umd/popper.min.js')
script(src='/libs/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/libs/bower_components/sweetalert2/dist/sweetalert2.min.js')
script(src='/js/main.js')
