link(rel='icon', href='../favicon.ico', type='image/x-icon')
link(rel='stylesheet', href='src/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='src/bower_components/font-awesome/css/font-awesome.min.css')
link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
link(rel='stylesheet', href='dist/css/styles.css')
