.chat {
  height: 100%;
}

.chat-box {
  display: flex;
  height: 500px;
  background: grey;
  align-items: flex-end;
  width: 100%;
  max-width: 360px;
  ul {
    padding: 0;
    margin: 0;
  }
  div {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

.chat-row {
  justify-content: center;
  margin-top: 2rem;
}