@import "../base/_colors";

ul.nav-items {
  li > a {
    color: #4B4C63;
  }
}
nav {
  background: $bg-body-color;
  z-index: 1;
}
.menu-btn {
  border: none;
}

.nav-desktop {
  width: 100%;
  p {
    margin: 0 1rem;
  }
}

a.btn-search {
  font-size: 1.5rem;
  color: #4B4C63;
}

@media(min-width:768px) {
  .home nav.navbar {
    background: transparent;
    h1, a, li.nav-item > a.nav-link {
      color: #fff;
    }
  }
  a.nav-link {
    color: #fff;
  }
}