@import "./base/_scaffolding";
@import "./base/_colors";
@import "./base/_typography";
@import "./base/_dividers";
/* components */

@import "./components/_nav";
@import "./components/_logo";
@import "./components/_sidebar";
@import "./components/_card";
@import "./components/_login";
@import "./components/_inputs";
@import "./components/_footer";
@import "./components/_canvas";
@import "./components/_map";
/* pages */

@import "./pages/_index";
@import "./pages/_products";
@import "./pages/_add-page";
@import "./pages/_detail-product";
@import "./pages/_panel-admin";
@import "./pages/_chat-page";
@import "./pages/_profile";
@import "./pages/_edit-profile";


.dropdown-menu a.dropdown-item {
  color: $main-font-color;
}

.container.video {
  max-height: 500px;
}

.hide {
  display: none;
}

.page {
  background-color: $bg-body-color;
  position: relative;
  height: 100%;
}


.btn-add {
  background: #20C3B3;
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  right: 15px;
  box-shadow: 0px 2px 5px grey;
  a > i {
    font-size: 1.2rem;
  }
}

.gallery-profile{
  justify-content: center;
}

.position-absolute-footer-pug {
  position: absolute;
}






#dropdownBtn {
  background: transparent;
  border: none;
}

.dropdown-menu.show {
  a {
    color: black !important;
  }
}
.avatar, .personal-info {
  padding: 2rem;
  .upload-input {
    width: 100%;
  }
}

.profile-page label {
  margin: 0;
  min-height: 150px;
  & > img {
    height: 150px;
  }
}
.profile-card{
  width: 100%;
  max-width: inherit;
}

.profile-page {
  input[type=file] {
    display: none;
  }
}

span#edit-span {
  display: none;
}

.title:hover {
  span#edit-span{
    display: inline-block;
  }
}





.sidebar-nav {
  & > li:first-child {
    text-align: center;
  }
  & > li {
    min-height: 42px;
  }
}


.hide {
  display: none !important;
}



@media(min-width:768px) {
  .btn-add{
    display: none;
  }
  .sidebar-products {
    display: block;
  }
  
  .nav-desktop .dropdown-menu a.dropdown-item {
    color: #4B4C63;
}
  a.btn-search {
    display: none;
  }


 
  .login-form-box {
    min-height: 600px;
    align-items: center;
  }
  .login-form-box form {
    width: 50%;
    max-width: 450px;
  }
    .card-gallery {
      width: 20%;
    }
  // .gallery-products  {
  //   width: 70%;
  // }
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}



@media(max-width: 768px) {
  .show {
    display: none;
  }
  .collapse.show {
    display: none;
  }
}


/* home desktop */