extends ../layout

block content
  .add-product-page
    main
      form#add-product-form(action="/api/add-product", method="POST")
        ul.add-product_list
          li
            p Add an image
              .add-product
                  label(for="image-upload", id="image-label") 
                  input(type='file', name='img', id="image-upload" accept='image/*')
          li
            .add-title
              p Add a title
                input#input-title(type='text', name="title")
          li
            .add-description
              p Add a description
              input#input-description(type='text', name="description" )
          li
            .add-price
              p Add a price
              input#input-price(type='number', name="price")
          li
            div
              p Select a category
              select(name="category")
                option(value='cars') Cars
                option(value='motorAccesories') Motor accesories 
                option(value='electronics') Electronics
                option(value='sport') Sport
                option(value='forniture') Forniture
                option(value='consoles') Consoles and videogames 
                option(value='books') Books
                option(value='fashion') Fashion
                option(value='realState') Real State
          li
            div
                input.custom-btn(type='submit', value='Send')
      .preview-data
        .gallery
          .card-gallery
            a(href='/product-detail')
              #image-preview.card-image-preview
            .card-body
              p#preview-price
              p#preview-title
              p.card-text#preview-description         
            a(href='/user-id/profile')
              .user-card
                .img-user-card
                  img.img-circle(src='http://lorempixel.com/50/50')
                .user-info
                  p User
                  p 15 products
             
