extends ../layout

block content
  .add
    main
      form 
        ul.add-product_list
          li
            .add-product
              .item-product
                input(type='file', name='pic', accept='image/*')
          li
            .add-title
              input(type='text', pplaceholder='Qué vendes?')
          li
            .add-description
              textarea(type='text', placeholder='Describeme un poco que és')
          li
            div
                input(type='submit', value='Enviar')
