extends ../layout

block content
  .chat
    .container
      .row.chat-row
        .col-sm-6.frame.col-10
          .chat-box
            ul.message
            div
              .msj-rta.macro(style='margin:auto')
                .text.text-r(style='background:whitesmoke !important')
                  input.mytext(placeholder='Type a message')