extends ../layout

block content
  .detail
    .container
      .row.product-detail
        .col-12.col-lg-10.lg-auto
          .image-product-detail-box
          .product-content-detail
            h4 80.000.000€
            h6 Casa en buen estado. 
            p Necesita alguna reforma pero se puede vivir bien.
            p 28 de Noviembre de 1600
          .map-user-detail-product
          .user-detail
            .user-card
              .img-user-card
                img.img-circle(src='dist/img/trolface.png')
              .user-info
                p Troll
          .chat-product-detail-btn
            a(href="/chat") Chat




          
      