extends ../layout

block content
    .container()
      h1.page-header Edit Profile
      .row
        form.edit-profile-form()
          .image-div-form
            .form-group
              img(src='/img/avatar.png', alt='avatar', name="imgUrl")
              h6 Upload a different photo...
              input(type='file')
          .options-div-form
            .form-group
              label.control-label Username:
                input.form-control(value='', type='text', name="username")
            .form-group
              label.control-label Where do you live:
                input.form-control(value='', type='text', name="city")
            .form-group
              label.control-label Gender:
                input.form-control(value='', type='text', name="gender")
            .form-group
              label.control-label Age:
                input.form-control(value='', type='number', name="age")
            .form-group
              label.control-label
                input.btn.btn-primary#save-changes(value='Save', type='submit')
                input.btn.btn-default(value='Cancel', type='reset')


//-             .form-group
              label.col-md-3.control-label Password:
                input.form-control(value='11111122333', type='password')
            .form-group
               label.col-md-3.control-label Password:
                input.form-control(value='11111122333', type='password')