extends ../layout

block content
    .container.edit-page-box
      h1.page-header Edit Profile
      .row
        form.edit-profile-form#edit-profile-form(enctype="multipart/form-data")
          .image-div-form
            .form-group.box-img-edit-page
              img(src='/img/avatar.png', alt='avatar')
              label.control-label Upload:
                input.form-control(type='file', name='avatarUrl')
          .options-div-form
            .form-group
              label.control-label Username:
                input.form-control(value='', type='text', name="username")
            .form-group
              label.control-label Where do you live:
                input.form-control(value='', type='text', name="city")
            .form-group
              label.control-label Gender:
                input.form-control(value='', type='text', name="gender")
            .form-group
              label.control-label Age:
                input.form-control(value='', type='number', name="age")
            .form-group
              label.control-label
                input.btn.btn-primary#save-changes(value='Save', type='submit', data-id=user._id)
                input.btn.btn-default(value='Cancel', type='reset')