extends ../layout

block content
  .row.video-container
      video.video-header(src='http://res.cloudinary.com/drenzfi8m/video/upload/v1503341704/bg-video_ndve4s.mp4', autoplay='', loop='')
      .container.hero-text
        h1 Sell and buy things to your neighbours
        .container-btn
          a.custom-btn.buy(href="/products") Buy
          a.custom-btn.sell(href="/add-product") Sell
  main
    section.who-are-we
      .container
        .row.section-who-are-we
          .col-12
            h2 Sell<span class="span-title-who-are-we"> your</span> unwanted<span class="span-title-who-are-we"> items</span>
            p
              | Sell it es una aplicación que te permite vender lo que no necesitas de una forma sencilla a través de nuestra plataforma.
            p Ponemos a tu alcance un servicio adaptado a tus necesidades
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sequi odio dolore ratione fugit ullam quidem eligendi at pariatur, dolor recusandae, vitae enim quaerat 
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sequi odio dolore ratione fugit ullam quidem eligendi at pariatur, dolor recusandae, vitae enim quaerat 
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sequi odio dolore ratione fugit ullam quidem eligendi at pariatur, dolor recusandae, vitae enim quaerat 
    // @end who-are-we
    // @begin tu-mejor-eleccion
    section.why-us
      .container
        h2.h3.text-xs-center.font-weight-bold
          | ¿Porque somos 
          span tu mejor elección?
        .row.why-we
          ul.col-xs-4.xs-auto.col-md-6.col-lg-6.text-xs-center.text-lg-left
            li
              i.fa.fa-briefcase(aria-hidden='true')
              .contenedor-eleccion
                h4 Lorem Ipsum
                p.hidden-md-down
                  | tool tent port underline green simple powder late ocean support no later which aid share equipment
            li.wow.zoomIn(data-wow-duration='.3s', data-wow-delay='.7s')
              i.fa.fa-bullhorn(aria-hidden='true')
              .contenedor-eleccion
                h4 Lorem Ipsum
                p.hidden-md-down
                  | tool tent port underline green simple powder late ocean support no later which aid share equipment
          ul.col-xs-4.xs-auto.col-md-6.col-lg-6.text-xs-center.text-lg-left
            li.wow.zoomIn(data-wow-duration='.3s', data-wow-delay='1.1s')
              i.fa.fa-comment-o(aria-hidden='true')
              .contenedor-eleccion
                h4 Lorem Ipsum
                p.hidden-md-down
                  | tool tent port underline green simple powder late ocean support no later which aid share equipment
            li.wow.zoomIn(data-wow-duration='.3s', data-wow-delay='.5s')
              i.fa.fa-calendar(aria-hidden='true')
              .contenedor-eleccion
                h4 Lorem Ipsum
                p.hidden-md-down
                  | tool tent port underline green simple powder late ocean support no later which aid share equipment
  // @end section why-we
