extends ../layout

block content
  .login
    .container
      .card-form
        form#sub-log.form-signin(target="/profile")
          span#reauth-email.reauth-email
          input#inputEmail.form-control(type='email', placeholder='Usuario', required='', autofocus='')
          input#inputPassword.form-control(type='password', placeholder='Contraseña', required='')
          #remember.checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Recordarme
          button.btn.btn-lg.btn-success.btn-block.btn-signin.custom-btn(type='submit', target="/profile") Iniciar Sesión
        // /form
        a.forgot-password(href='#')
          | Aún no tienes cuenta? 
          a(href='/register') Regístrate ahora
        a(href='/panel/') Admin
