extends ../layout

block content
  .container.login-container
    h3 Login Access
    .card-form
      form#login-form.form-signin(action="/login", method="POST")
        p E-mail
        input#inputEmail.form-control(type='email', placeholder='email', required='', autofocus='', name="email")
        p Password
        input#inputPassword.form-control(type='password', placeholder='password', required='', name="password")
        button.btn.btn-lg.btn-success.btn-block.btn-signin.custom-btn(type='submit', target="/profile") Sign In
      p Not registered yet? 
        a(href='/register') Register
