extends ../layout

block content
  .login
    .container
      .card.card-container
        // <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
        //
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card"></p>
        form.form-signin
          span#reauth-email.reauth-email
          input#inputEmail.form-control(type='email', placeholder='Usuario', required='', autofocus='')
          input#inputPassword.form-control(type='password', placeholder='Contraseña', required='')
          #remember.checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Recordarme
          button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Iniciar Sesión
        // /form
        a.forgot-password(href='#')
          | Aún no tienes cuenta? 
          a(href='/register') Regístrate ahora
      // /card-container
    // /container
    // @end login