extends ../layout

block content
  .container
    .card-form
      form#login-form.form-signin(action="/login", method="POST")
        span#reauth-email.reauth-email
        input#inputEmail.form-control(type='email', placeholder='email', required='', autofocus='', name="email")
        input#inputPassword.form-control(type='password', placeholder='Password', required='', name="password")
        button.btn.btn-lg.btn-success.btn-block.btn-signin.custom-btn(type='submit', target="/profile") Sign In
      // /form
      a.forgot-password(href='#')
      p Not registered yet? 
        a(href='/register') Register
