extends ../layout

block content
  .login
    .container
      .card.card-container
        form.form-signin
          span#reauth-email.reauth-email
          input#inputEmail.form-control(type='email', placeholder='Usuario', required='', autofocus='')
          input#inputPassword.form-control(type='password', placeholder='Contraseña', required='')
          #remember.checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Recordarme
          button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Iniciar Sesión
        // /form
        a.forgot-password(href='#')
          | Aún no tienes cuenta? 
          a(href='/register') Regístrate ahora
        a(href='/admin-login') Eres admin?, entra aquí
      // /card-container
    // /container
    // @end login