@import "./base/_scaffolding";
@import "./base/_colors";
@import "./base/_typography";
/* components */
@import "./components/_nav";
@import "./components/_logo";
@import "./components/_sidebar";
@import "./components/_card";
@import "./components/_login-form";
@import "./components/_video";
/* pages */
@import "./pages/_index";


    video.video-header {
      display: none;
      opacity: 0.9;
    }


// .landing {
//   background-color: #F8F9FA;
//   display: flex;
//   height: 100vh;
//   header.row {
//     flex-direction: column;
//     text-align: center;
//     color: #4B4C63;
//     h1 {
//       font-weight: bold;
//       margin: 0;
//       text-align: center;
//     }
//     span {
//       margin-left: 5px;
//     }
//     span.market-logo h1 {
//       font-size: 0.7rem;
//       width: 40px;
//       display: inline-block;
//       background-color: #F58454;
//       padding: 0.3rem;
//       word-wrap: break-word;
//   }
//   p {
//     font-style: italic;
//     font-size: 0.9rem;
//     margin-top: 0.5rem;
//   }
// }
// }



.gallery {
  background-color: #F8F9FA;
  flex-wrap: wrap;
  display: flex;
  margin-top: 5rem;
}



@media(min-width:768px) {
  a.btn-search {
    display: none;
  }

    .header {
      video {
        display: inline-block;
        vertical-align: baseline;
        object-fit: contain;
        width: 100%;
        margin-top: -100px;
      }
    }
 
  .login-form-box {
    min-height: 600px;
    align-items: center;
  }
  .login-form-box form {
    width: 50%;
    max-width: 450px;
  }
  .gallery {
    justify-content: center;
    .card {
      width: 20%;
    }
  }
  #wrapper {
      padding-left: 0;
  }
  #wrapper.toggled {
      padding-left: 250px;
  }
  #sidebar-wrapper {
      width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
      width: 250px;
  }
  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

@media(max-width: 768px) {
  .show {
    display: none;
  }
  .collapse.show {
    display: none;
  }
}


/* home desktop */



